body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}
h3 {
	font-size: 23px;
	font-weight: lighter;
	color: #ff5100;
	margin: 10px 0;
}
h5 {
	margin: 20px 0 0 0;
	font-weight: bolder;
	line-height: inherit;
}
hr {
	margin: 10px 0;
}
ul {
	list-style-type: none;
	padding: 10px;
}
label {
	font-weight: normal;
	margin-bottom: 10px;
	cursor: pointer;
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
	margin-left: 0;
}
.radio-inline {
	margin-right: 25px;
}
body, a, a:hover, a:focus, .form-control, div.col-box h3 {
	color: #2f3030;
}
a:hover, a:focus {
	text-decoration: none;
}
div.col-banner {
	padding: 0;
}
div.col-banner h1 {
	font-weight: bold;
	color: white;
}
div.col-banner h2 {
	font-size: 50px;
	font-weight: lighter; 
}
div.col-banner h4 {
	color: white;
}
.btn-cancel, .btn-mmr, .form-control {
	font-size: 17px;
	border-radius: 0;
	margin: 10px;
	padding: 8px;
	display: block;
}
.form-control {
	height: auto;
	width: 90%;
}
.form-inline .btn, .form-inline .form-control {
	width: auto;
	display: inline-block;
}
.modal-dialog {
	width: auto;
	max-width: 700px;
	height: auto;
	max-height: 90%;
	overflow-y: auto;
	overflow-x: hidden;
}
.modal-header {
	border: none;
	padding: 10px;
}
.modal-content, .dropdown-menu {
	border-radius: 0;
}
.dropdown-menu li.active a, .dropdown-menu li.active a:hover, .dropdown-menu li.active a:focus {
	background-color: #ff5200;
}
.container {
	width: 1170px !important;
}
.highlight, a.highlight:hover, a.highlight:focus, div.col-box h5, .note-editable a, .description a, .description p a {
	color: #2ba42b;
}
div.col-head {
	padding: 10px;
	line-height: 1.8;
}
.btn-mmr, .btn-mmr:hover, .btn-mmr:focus {
	color: white;
	font-size: 19px;
	background-color: #2ba42b;
	background: linear-gradient(#31bd31, #2ba42b);
}

div.tiles {
	padding: 10px 0 10px 0;
}
div.tiles h1 {
	font-weight: lighter;
	font-size: 40px;
	color: #ff5200;
	margin-top: 25px;
}
div.col-tile {
	margin: 10px;
	padding: 0;
	border: 1px solid #e6e6e6;
	min-width: 19%;
	min-height: 380px;
	overflow: hidden;
}
div.row-tile {
	border: 1px solid #e6e6e6;
	margin-bottom: 15px;
	overflow: hidden;
}
div.tile-text {
	margin: 10px;
	font-size: 15px;
}
div.tile-text .form-control, div.tile-text .btn {
	font-size: 14px;
}
div.tile-text p {
	margin-bottom: 3px;
}
div.col-box {
	border: 1px solid #e6e6e6;
	padding: 15px;
	padding-top: 10px;
}
div.col-box h3 {
	margin-top: 0;
}
div.col-box label {
	margin-left: 20px;
}
div.col-box hr {
	margin-top: 0;
}
div.footer {
	color: white;
	font-size: 14px;
	background-color: #303030;
	line-height: 2;
}
div.footer a, div.footer a:hover, div.footer a:focus {
	color: white;
}
div.col-foot {
	padding: 30px 0;
}
div.big-icon, div.small-icon, p.small-icon, div.cur-page {
	color: white;
	background-color: #ff7800;
	background: linear-gradient(#ff7800, #ff5200);
	margin: 10px auto 0 auto;
}
div.big-icon {
	font-size: 60px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}
div.big-icon span {
	line-height: 1.6;
}
div.small-icon {
	position: absolute;
	margin: 10px;
	font-size: 24px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
}
div.small-icon span {
	line-height: 1.7;
	margin-left: 5px;
}
p.small-icon {
	font-size: 21px;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	margin: 4px 10px auto auto;
}
p.small-icon span {
	margin-left: 2px;
}
p.datetime {
	font-weight: bold;
	font-size: 13px;
}
p.date, p.time {
	font-weight: bold;
	line-height: 2.4;
}
p.place {
	font-size: 13px;
	color: #7a7d7d;
}
.big-text {
	font-size: 17px;
	padding: 0 10px 15px 10px;
}
.thumbnail .fa-gear {
	text-align: center;
	color: white;
	position: absolute;
	font-size: 52px;
	margin-top: 40px;
	margin-left: 63px;
	visibility: hidden;
}
div.pages {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
div.page {
	display: inline;
	padding: 3px 10px 3px 10px;
}

div.cur-page {
	border-radius: 20px;
}
.twitter-share-button {
	margin-left: 5px;
}
.note-editor {
	width: 90%;
	margin: 10px;
}
