body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	min-width: 480px;
}
h3 {
	font-size: 23px;
	font-weight: lighter;
	color: #ff5100;
	margin: 10px 0;
}
h5, .filter-headline {
	margin: 20px 0 0 0;
	font-weight: bolder;
	line-height: inherit;
}
hr {
	margin: 10px 0;
}
ul {
	list-style-type: none;
	padding: 10px;
}
label {
	font-weight: normal;
	margin-bottom: 10px;
	cursor: pointer;
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
	margin-left: 0;
}
.radio-inline {
	margin-right: 25px;
}
body, a, a:hover, a:focus, .form-control {
	color: #2f3030;
}
a:hover, a:focus {
	text-decoration: none;
}
.col-banner {
	padding: 0;
	height: 617px;
	background-image: url(../images/willkommen.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.col-banner h1 {
	font-weight: bold;
	color: white;
	position: absolute;
	top: 74%;
	width: 100%;
}
.col-banner h2 {
	font-size: 50px;
	font-weight: lighter;
	color: #2f3030;
	position: absolute;
	top: 17%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5); 
}
.col-banner h2 span {
	color: #ff5200;
}
.col-banner h4 {
	color: white;
	font-weight: bolder;
	padding-left: 5%;
	padding-right: 5%;
	position:absolute;
	top: 85%;
	width: 100%;
}
.search-form {
	position: absolute;
	top: 33%;
	width: 90%;
	margin-left: 5%;
}
.col-search-banner {
	padding: 0;
	height: 140px;
	background-image: url(../images/hintergrund.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.col-search-banner h2 {
	position: absolute;
	top: 25%;
	color: white;
	margin-left: 8.3333%;
}
@media(max-width: 991px) {
	.search-form {
		top: 13%;
	}
}
@media(max-width: 767px) {
	.col-banner h4 {
		top: 76%;
	}
}
.col-banner form {
	position: absolute;
	top: 40%;
	width: 100%;
}
.btn-cancel, .btn-mmr, .form-control {
	font-size: 17px;
	border-radius: 0;
	margin: 10px;
	padding: 8px;
	display: block;
}
.btn-search {
	padding: 6px 10px;
	margin: 0;
	margin-top: -1px;
}
.form-control {
	height: auto;
	width: 90%;
}
.form-inline .btn, .form-inline .form-control {
	width: auto;
	display: inline-block;
}
.form-inline .form-search, .form-inline .form-search:hover, .form-inline .form-search:focus {
	font-size: 14px;
	margin: 0;
	padding: 5px;
}
.form-inline .search-field {
	margin-left: 0;
	width: 200px;
}
.modal-dialog {
	width: auto;
	max-width: 700px;
	height: auto;
	max-height: 90%;
	overflow-y: auto;
	overflow-x: hidden;
}
.modal-header {
	border: none;
	padding: 10px;
}
.modal-content {
	min-height: 100px;
}
.modal-content, .dropdown-menu {
	border-radius: 0;
}
.dropdown-menu li.active a, .dropdown-menu li.active a:hover, .dropdown-menu li.active a:focus {
	background-color: #ff5200;
}
.highlight, a.highlight:hover, a.highlight:focus, .filter-headline, .note-editable a, .description a, .description p a {
	color: #2ba42b;
}
.col-head {
	padding: 15px 0 10px 15px;
	line-height: 2;
}

.col-logo {
	padding: 5px 0;
	height: 80px;
}

.logo-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.btn-mmr, .btn-mmr:hover, .btn-mmr:focus {
	color: white;
	font-size: 19px;
	background-color: #2ba42b;
	background: linear-gradient(#31bd31, #2ba42b);
}

.tiles {
	padding: 10px 0 10px 0;
}
.tiles h1 {
	font-weight: lighter;
	font-size: 40px;
	color: #ff5200;
	margin-top: 25px;
}
.tiles h4 {
	color: #ff5100;
	margin: 0;
	font-weight: lighter;
}
.col-tile {
	padding: 10px;
	min-width: 19%;
}
.tile {
	border: 1px solid #e6e6e6;
	overflow: hidden;
	min-height: 480px;
}
.row-tile {
	border: 1px solid #e6e6e6;
	margin-bottom: 15px;
	overflow: hidden;
}
.tile-image {
	height: 165px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.tile-text {
	margin: 10px;
	font-size: 15px;
}
.tile-text .form-control, .tile-text .btn {
	font-size: 14px;
}
.tile-text p {
	margin-bottom: 3px;
}
.col-box, .col-box-admin {
	padding: 10px;
	margin-bottom: 15px;
}
.col-box {
	padding-top: 0;
}
.box, .filter-box {
	border: 1px solid #e6e6e6;
}
.filter-box {
	padding: 10px;
}
.box-headline {
	font-size: 23px;
	font-weight: lighter;
	margin: 10px 0;
}
.box h2 {
	font-size: 23px;
	font-weight: normal;
	margin: 10px;
}
.col-box label {
	margin-left: 20px;
}
.col-box hr {
	margin-top: 0;
}
.footer {
	color: white;
	font-size: 14px;
	background-color: #303030;
	line-height: 2;
}
.footer a, .footer a:hover, .footer a:focus {
	color: white;
}
.col-foot {
	padding: 30px 0;
}
.big-icon, .small-icon, .cur-page {
	color: white;
	background-color: #ff7800;
	background: linear-gradient(#ff7800, #ff5200);
	margin: 10px auto 0 auto;
}
.big-icon {
	font-size: 60px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}
.big-icon span {
	line-height: 1.6;
}
.small-icon {
	position: absolute;
	margin: 10px;
	font-size: 24px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
}
.small-icon span {
	line-height: 1.7;
	margin-left: 5px;
}
p.small-icon {
	font-size: 21px;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	margin: 4px 10px 6px auto;
	position: relative;
}
p.small-icon span {
	margin-left: 2px;
}
.datetime {
	font-weight: bold;
	font-size: 13px;
}
.date, .time {
	font-weight: bold;
	line-height: 2.4;
}
.place {
	font-size: 13px;
	color: #7a7d7d;
}
.tile-text .description {
	height: 130px;
	overflow: hidden;
	margin-bottom: 20px;
}
.icon-text {
	height: 2.7em;
	overflow: hidden;
}
.big-text {
	font-size: 17px;
	padding: 0 10px 15px 10px;
}
.credits {
	font-size: 13px;
	margin: 0;
}
.thumbnail .fa-gear {
	text-align: center;
	color: white;
	position: absolute;
	font-size: 52px;
	margin-top: 40px;
	margin-left: 63px;
	visibility: hidden;
}
.pages {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
.page {
	display: inline;
	padding: 3px 10px 3px 10px;
}
.cur-page {
	border-radius: 20px;
}
.note-editor {
	width: 90%;
	margin: 10px;
}
.social {
	margin-bottom: 15px;
}
@media(max-width: 1199px) {
	.social {
		width: 450px;
	}
}
.recommend {
	display: inline-block;
	margin-left: 15px;
	margin-right: auto;
}
.event-images {
	margin-right: 10px;
	margin-bottom: 15px;
}
@media(max-width: 767px) {
	.social {
		width: 100%;
	}
	.event-images img {
		width: 100%;
	}
}
